/* В этом файле уже написаны некоторые базовые стили, которые сбрасывают или преобразуют дефольное браузерное поведение.
Здесь же лежит утилитарный класс visually-hidden на случай, если нужно скрыть какой-то элемент, но оставить доступным для скринридера.
Вы можете изменять этот файл или дополнять. Но скорее всего, вам это не потребуется. */

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

button,
input {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

:root {
  --page-gradient: 
    /* 1. Горизонтальные полоски (слева направо) */
    repeating-linear-gradient(
      to right,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    /* 2. Вертикальные полоски (сверху вниз) */
    repeating-linear-gradient(
      to bottom,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    /* 3. Плавный затемняющий градиент сверху вниз */
    linear-gradient(
      to bottom,
      #e7e7e7 0%,
      #e7e7e7 0.01%,
      #1a1a1a 100%
    );
}

.list__item {
  list-style: none;
}